@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */

    overflow-x: hidden;
}

.body{
    overflow-x: hidden;
}

:root{
    --primary-color: #000839;
    --primary-shaded: #00020b;
    --para-color: #80849c;
    --helper-color: #1264fa;
    --white: #fff;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    display: inline-block;
    width: 100%;
}

li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

.para{
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 400;
    color: var(--para-color);
}



/* header and navbar style */

.header{
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    position: relative;
    /* background-color: #dedefa */
}

.logo{
    font-size: 2rem;
    font-weight: bolder;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-list{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 5.5rem;
    font-size: 1.5rem;
    align-items: center;
}

.navbar-list .navbar-btn{
    padding: 1.2rem 2.4rem;
    font-size: 1.5rem;
    background-color: var(--white);
    border: 1px solid var(--helper-color);
    color: var(--helper-color);
    border-radius: 10rem; /*This is trick. Whenever we want rounded corner for border we can 
                            give border radius any big value that is greater than Padding*/

    transition: all 0.3s ease-in-out;  /*This is used to make the hover functionality smooth*/
}

.navbar-list .navbar-link:hover,
.navbar-list .navbar-link:active{
    color: var(--helper-color);
}

.navbar-btn:hover,
.navbar-btn:active{
    background-color: var(--helper-color);
    color: var(--white);
}

.navbar-link{
    text-transform: uppercase
}

.mobile-nav-icon{
    font-size: 4rem;
    color: var(--primary-color);
}
.mobile-navbar-btn{
    display: none;
}

.mobile-nav-icon[name="close-outline"]{
    display: none;
}

.section{
    padding: 2rem 0;
}

.container{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid{
    display: grid;
    gap: 9.6rem;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);  
}

.get-started-btn{
    font-size: 1.6rem;      
    padding: 1.6rem 3.2rem;
    border: 1px solid var(--helper-color);
    border-radius: 10rem;
    background-color: var(--helper-color);
    color: var(--white);
    transition: all 0.3s linear;
}

.get-started-btn:hover,
.get-started-btn:active{
    transform: scale(1.05);
}


/* Hero Section */

/*Below tow blocks are required if we wan to add some background objects.*/

/*Like Background Grey Square behind photo.*/
.section-hero{
    position: relative;
}

.section-hero::before{
    content: "";
    display: "inline-block";
    position: absolute;
    bottom: 2rem;
    right: 0;
    width: 30%;
    height: 50%;
    background: #b7f6f4;
    z-index: -1;
}

.primary-heading{
    font-size: 6rem;
    font-weight: 700;
}

.section-hero .para{
    margin-top: 2rem;
    margin-bottom: 3.2rem;
}

.hero-icons{
    margin-top: 4rem;
}

/*This is to add background dark blue circles in icon*/

.hero-icons .icon{
    font-size: 5rem;
    position: relative;
}

.hero-icons .icon::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 65%;
    background-color: var(--helper-color);
    border-radius: 50%;
    opacity: 0.7;
}

.hero-icons h2{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.section-hero .hero-icon-style .para{
    line-height: 1.5;
    margin: 0;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.hero-image img{
    height: 90%;
    width: 90%;
    box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1);
}

.hero-image-overlay{
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
    left: -6%;
    padding: 0 2rem;
    width: 101%;
}

.hero-image-overlay .para{
    color: var(--white);
}

.hero-image-overlay .para:nth-child(2){
    margin: 0;
    font-weight: bolder;
}

.hero-image-overlay .para:last-child{
    margin: 0;
    margin-bottom: 0.3rem;
    padding: 0.5rem 0;
}

/* Making Website Responsive by adding breakpoints at different pixels */

@media (max-width: 1250px){
    .container{
        padding: 0 6rem;
    }

    .html{
        font-size: 56.25%;
        /* 1rem = 9px */
    }

    .hero-image img{
        height: 80%;
        width: 80%;
    }
    
    .hero-image-overlay{
        width: 96%;
    }
}

@media (max-width: 1100px){
    .container{
        max-width: 100rem;
    }

    .hero-image img{
        height: 60%;
        width: 80%;
    }

    .hero-image-overlay{
        bottom: 25%;
    }
}

@media (max-width: 980px){

    .container{
        max-width: 80%;
    }

    .section-hero .grid-two-column{
        grid-template-columns: 1fr;
    }

    .section-hero .hero-icons .grid-two-column{
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-image img{
        height: 70%;
        width: 50%;
    }

    .hero-image-overlay{
        width: 60%;
        bottom: 5%;
        left: 15%;
    }

    .section-hero::before{
        bottom: 4.2rem;
        width: 70%;
        height: 30%;
    }

    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100);
 
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar .navbar-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar .navbar-link{
        color: var(--white);
    }

    .mobile-navbar-btn{
        display: block;
        
        z-index: 99999;
    }

    .active .navbar{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateX(0);
        transition: all 0.2s ease-in-out;
        z-index: 99;
    } 

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display: block;
        color: var(--white);
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }
}

@media(max-width: 880px){

    .html{
        font-size: 50%;
    }

    .hero-image-overlay{
        height: 40%;
        width: 60%;
    }

    .hero-image-overlay .para{
        font-size: 0.9rem;
    }

    .hero-image-overlay .para:first-child{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .hero-image-overlay .para:last-child{
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding-top: 0.2    rem ;
        padding-bottom: 0.2rem;
    }

    .section{
        padding: 0.5rem 0;
    }

    .section-hero::before{
        width: 40%;
        height: 20%;
    }
}

@media (max-width: 712px){
    .hero-image-overlay{
        width: 60%;
        height: 50%;
    }

    .mobile-nav-icon{
        font-size: 3rem;
    }

    .section-hero::before{
        height: 10%;
    }
}

@media (max-width: 632px){
    .hero-image{
        height: 30rem;
    }

    .html{
        font-size: 50%;
        /* 1rem = 98px */
    }

    .header{
        height: 6rem;
        padding: 0 3rem;
    }

    .container{
        margin: 0 1rem;
        padding: 0 1rem;
    }
    
    .hero-image-overlay{
        width: 65%;
        height: 50%;
    }
    .hero-image img{
        height: 70%;
        width:60%
    }

    .logo{
        font-size: 1.8rem;
        font-weight: bolder; 
    }

    .section{
        padding: 2rem 0;
    }

    .primary-heading{
        font-size: 3rem;
        font-weight: 600;
    }
}
